html,
body,
:not([style*="background-color:"]) {
    background-color: rgb(233, 226, 201) !important;
}
html,
body,
:not([style*="color:"]),
.sr-reader *:not([class*='sr-pivot']) {
    color: rgb(81, 62, 86) !important;
}
h1:not([style*="color:"]),
h2:not([style*="color:"]),
h3:not([style*="color:"]),
h4:not([style*="color:"]),
h5:not([style*="color:"]),
h6:not([style*="color:"]) {
    color: rgb(94, 15, 4) !important;
}
cite:not([style*="color:"]) {
    color: rgb(14, 97, 106) !important;
}
input:not([style*="background-color:"]),
textarea:not([style*="background-color:"]),
button:not([style*="background-color:"]),
[role="button"] {
    background-color: rgb() !important;
}
input:not([style*="background-color:"]):hover,
textarea:not([style*="background-color:"]):hover,
button:not([style*="background-color:"]):hover,
[role="button"]:hover {
    background-color: rgb(233, 226, 201) !important;
}
input:not([style*="background-color:"]):active, input:not([style*="background-color:"]):focus,
textarea:not([style*="background-color:"]):active, textarea:not([style*="background-color:"]):focus,
button:not([style*="background-color:"]):active, button:not([style*="background-color:"]):focus,
[role="button"]:active, [role="button"]:focus {
    background-color: rgb(233, 226, 201) !important;
}
a:not([style*="color:"]) {
    color: rgb(42, 81, 115) !important;
}
a:not([style*="color:"]):hover {
    color: rgb(14, 97, 106) !important;
}
a:not([style*="color:"]):active, a:not([style*="color:"]):focus {
    color: rgb(14, 97, 106) !important;
}
:not([style*="border-color:"]),
::before,
::after {
    border-color: rgb(81, 62, 86) !important;
}
div:empty,
.sr-reader *,
.sr-backdrop {
    background-color: rgba(233, 226, 201, 0.5) !important;
}
input::placeholder,
textarea::placeholder {
    color: rgba(233, 226, 201 0.5) !important;
}
input:not([style*="background-image:"]),
textarea:not([style*="background-image:"]) {
    background-image: none !important;
}
